<footer>
    <div class="imgs_footer">
        <a href="https://www.youtube.com"><img src="./src/youtube.png" alt="" class="img_footer"></a>
        <a href="https://vk.com"><img src="./src/vk.png" alt="" class="img_footer"></a>
        <a href="https://www.instagram.com"><img src="./src/insta.png" alt="" class="img_footer"></a>
        <a href="https://www.facebook.com"><img src="./src/facebook.png" alt="" class="img_footer"></a>
        <a href="https://twitter.com"><img src="./src/twit.png" alt="" class="img_footer"></a>
    </div>
    <h5>Made by Yaroslav Polosukhin</h5>
</footer>