<main>
    <form><input type="submit" value="⬅ назад" name="i"></form>
    <h2>{title}</h2>
    <div style="display: flex;">
        <img src="{game_img}" class="game_image">
        <p style="margin-left: 1%;">
            Создатель: {creater} <br>
            Дата выхода(Windows): {date}<br>
            Возрастное ограничение: {year}<br>
            Жанры: {ganre}<br>
            <a style="display: block;" href='{where_min}'>Мин. цена: {min}руб</a><br style="display: block;">
            <a style="display: block;" href='{where}'>Цена в steаm: {steam}руб</a><br style="display: block;">
            <a style="display: none;">Сложно найти</a>
            Крякнута: {crack}
        </p>
    </div>
</main>