        <main class="main2">
            <form class="line">
                <input type="submit" name="i" class="block" value="Metro Exodus" style="background-image: url('./src/Metro_Exodus.png');">
                <input type="submit" name="i" class="block" value="Crysis" style="background-image: url('./src/Crysis.jpg');">
                <input type="submit" name="i" class="block" value="Battlefield V" style="background-image: url('./src/BFV.png');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Watch Dogs 2" style="background-image: url('./src/Watch_Dogs_2.jpg');">
                <input type="submit" name="i" class="block" value="Assassin’s Creed" style="background-image: url('./src/Assassins_Creed.jpg');">
                <input type="submit" name="i" class="block" value="Need for Speed: Most Wanted" style="background-image: url('./src/NFS-Most-Wanted-Front.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Detroit: Become Human" style="background-image: url('./src/Detroit_Become_Human.jpg');">
                <input type="submit" name="i" class="block" value="Mortal Kombat 9" style="background-image: url('./src/Mortal_Kombat_(2011).jpg');">
                <input type="submit" name="i" class="block" value="Cyberpunk 2077" style="background-image: url('./src/Cyberpunk_2077.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Among Us" style="background-image: url('./src/amongus.jpg');">
                <input type="submit" name="i" class="block" value="Far Cry 3" style="background-image: url('./src/Far_Cry_3.jpeg');">
                <input type="submit" name="i" class="block" value="Forza Horizon 4" style="background-image: url('./src/Forza_Horizon_4.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Counter-Strike: Global Offensive" style="background-image: url('./src/csgo.jpg');">
                <input type="submit" name="i" class="block" value="The Elder Scrolls V: Skyrim" style="background-image: url('./src/The_Elder_Scrolls_V_-_Skyrim.jpg');">
                <input type="submit" name="i" class="block" value="Call of Duty 4: Modern Warfare" style="background-image: url('./src/Cod4.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="S.T.A.L.K.E.R.: Тень Чернобыля" style="background-image: url('./src/Stalkercover.jpg');">
                <input type="submit" name="i" class="block" value="Far Cry 5" style="background-image: url('./src/Far_Cry_5.png');">
                <input type="submit" name="i" class="block" value="PlayerUnknown’s Battlegrounds" style="background-image: url('./src/PlayerUnknowns_Battlegrounds.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Grand Theft Auto: San Andreas" style="background-image: url('./src/Grand_Theft_Auto_San_Andreas.jpg');">
                <input type="submit" name="i" class="block" value="Red Dead Redemption 2" style="background-image: url('./src/Red_Dead_Redemption_2.jpg');">
                <input type="submit" name="i" class="block" value="Grand Theft Auto V" style="background-image: url('./src/GTAV.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Fortnite: Battle Royale" style="background-image: url('./src/fortnite.jpg');">
                <input type="submit" name="i" class="block" value="Heroes of Might and Magic III" style="background-image: url('./src/Heroes_of_Might_and_Magic_III.jpg');">
                <input type="submit" name="i" class="block" value="Ведьмак 3: Дикая Охота" style="background-image: url('./src/The_Witcher_3-Wild_Hunt.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="The Sims 4" style="background-image: url('./src/The_Sims_4.jpeg');">
            </form>
        </main>

        <main class="main1">
            <form class="line">
                <input type="submit" name="i" class="block" value="Metro Exodus" style="background-image: url('./src/Metro_Exodus.png');">
                <input type="submit" name="i" class="block" value="Crysis" style="background-image: url('./src/Crysis.jpg');">
                <input type="submit" name="i" class="block" value="Battlefield V" style="background-image: url('./src/BFV.png');">            
                <input type="submit" name="i" class="block" value="Watch Dogs 2" style="background-image: url('./src/Watch_Dogs_2.jpg');">
                <input type="submit" name="i" class="block" value="Assassin’s Creed" style="background-image: url('./src/Assassins_Creed.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Need for Speed: Most Wanted" style="background-image: url('./src/NFS-Most-Wanted-Front.jpg');">
                <input type="submit" name="i" class="block" value="Detroit: Become Human" style="background-image: url('./src/Detroit_Become_Human.jpg');">
                <input type="submit" name="i" class="block" value="Mortal Kombat 9" style="background-image: url('./src/Mortal_Kombat_(2011).jpg');">
                <input type="submit" name="i" class="block" value="Cyberpunk 2077" style="background-image: url('./src/Cyberpunk_2077.jpg');">
                <input type="submit" name="i" class="block" value="Among Us" style="background-image: url('./src/amongus.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Far Cry 3" style="background-image: url('./src/Far_Cry_3.jpeg');">
                <input type="submit" name="i" class="block" value="Forza Horizon 4" style="background-image: url('./src/Forza_Horizon_4.jpg');">
                <input type="submit" name="i" class="block" value="Counter-Strike: Global Offensive" style="background-image: url('./src/csgo.jpg');">
                <input type="submit" name="i" class="block" value="The Elder Scrolls V: Skyrim" style="background-image: url('./src/The_Elder_Scrolls_V_-_Skyrim.jpg');">
                <input type="submit" name="i" class="block" value="Call of Duty 4: Modern Warfare" style="background-image: url('./src/Cod4.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="S.T.A.L.K.E.R.: Тень Чернобыля" style="background-image: url('./src/Stalkercover.jpg');">
                <input type="submit" name="i" class="block" value="Far Cry 5" style="background-image: url('./src/Far_Cry_5.png');">
                <input type="submit" name="i" class="block" value="PlayerUnknown’s Battlegrounds" style="background-image: url('./src/PlayerUnknowns_Battlegrounds.jpg');">
                <input type="submit" name="i" class="block" value="Grand Theft Auto: San Andreas" style="background-image: url('./src/Grand_Theft_Auto_San_Andreas.jpg');">
                <input type="submit" name="i" class="block" value="Red Dead Redemption 2" style="background-image: url('./src/Red_Dead_Redemption_2.jpg');">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Grand Theft Auto V" style="background-image: url('./src/GTAV.jpg');">
                <input type="submit" name="i" class="block" value="The Sims 4" style="background-image: url('./src/The_Sims_4.jpeg');">
                <input type="submit" name="i" class="block" value="Fortnite: Battle Royale" style="background-image: url('./src/fortnite.jpg');">
                <input type="submit" name="i" class="block" value="Heroes of Might and Magic III" style="background-image: url('./src/Heroes_of_Might_and_Magic_III.jpg');">
                <input type="submit" name="i" class="block" value="Ведьмак 3: Дикая Охота" style="background-image: url('./src/The_Witcher_3-Wild_Hunt.jpg');">
            </form>
        </main>

        <main class="main3">
            <form class="line">
                <input type="submit" name="i" class="block" value="Metro Exodus" style="background-image: url('./src/Metro_Exodus.png');"><br>
                <input type="submit" name="i" class="block" value="Crysis" style="background-image: url('./src/Crysis.jpg');"><br>
                <input type="submit" name="i" class="block" value="Battlefield V" style="background-image: url('./src/BFV.png');"><br>        
                <input type="submit" name="i" class="block" value="Watch Dogs 2" style="background-image: url('./src/Watch_Dogs_2.jpg');"><br>
                <input type="submit" name="i" class="block" value="Assassin’s Creed" style="background-image: url('./src/Assassins_Creed.jpg');"><br>
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Need for Speed: Most Wanted" style="background-image: url('./src/NFS-Most-Wanted-Front.jpg');"><br>
                <input type="submit" name="i" class="block" value="Detroit: Become Human" style="background-image: url('./src/Detroit_Become_Human.jpg');"><br>
                <input type="submit" name="i" class="block" value="Mortal Kombat 9" style="background-image: url('./src/Mortal_Kombat_(2011).jpg');"><br>
                <input type="submit" name="i" class="block" value="Cyberpunk 2077" style="background-image: url('./src/Cyberpunk_2077.jpg');"><br>
                <input type="submit" name="i" class="block" value="Among Us" style="background-image: url('./src/amongus.jpg');"><br>
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Far Cry 3" style="background-image: url('./src/Far_Cry_3.jpeg');"><br>
                <input type="submit" name="i" class="block" value="Forza Horizon 4" style="background-image: url('./src/Forza_Horizon_4.jpg');"><br>
                <input type="submit" name="i" class="block" value="Counter-Strike: Global Offensive" style="background-image: url('./src/csgo.jpg');"><br>
                <input type="submit" name="i" class="block" value="The Elder Scrolls V: Skyrim" style="background-image: url('./src/The_Elder_Scrolls_V_-_Skyrim.jpg');"><br>
                <input type="submit" name="i" class="block" value="Call of Duty 4: Modern Warfare" style="background-image: url('./src/Cod4.jpg');"><br>
            </form>
            <form class="line">
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="S.T.A.L.K.E.R.: Тень Чернобыля" style="background-image: url('./src/Stalkercover.jpg');"><br>
                <input type="submit" name="i" class="block" value="Far Cry 5" style="background-image: url('./src/Far_Cry_5.png');"><br>
                <input type="submit" name="i" class="block" value="PlayerUnknown’s Battlegrounds" style="background-image: url('./src/PlayerUnknowns_Battlegrounds.jpg');"><br>
                <input type="submit" name="i" class="block" value="Grand Theft Auto: San Andreas" style="background-image: url('./src/Grand_Theft_Auto_San_Andreas.jpg');"><br>
                <input type="submit" name="i" class="block" value="Red Dead Redemption 2" style="background-image: url('./src/Red_Dead_Redemption_2.jpg');"><br>
            </form>
            <form class="line">
                <input type="submit" name="i" class="block" value="Grand Theft Auto V" style="background-image: url('./src/GTAV.jpg');"><br>
                <input type="submit" name="i" class="block" value="The Sims 4" style="background-image: url('./src/The_Sims_4.jpeg');"><br>
                <input type="submit" name="i" class="block" value="Fortnite: Battle Royale" style="background-image: url('./src/fortnite.jpg');"><br>
                <input type="submit" name="i" class="block" value="Heroes of Might and Magic III" style="background-image: url('./src/Heroes_of_Might_and_Magic_III.jpg');"><br>
                <input type="submit" name="i" class="block" value="Ведьмак 3: Дикая Охота" style="background-image: url('./src/The_Witcher_3-Wild_Hunt.jpg');"><br>
            </form>